---
title: Defiso Media
pageclass: index
---

<section class="textsection section optimize">
  <div class="tableholder">
    <div class="tablecell">
      <h1>Optimera</h1>
      <p>Ökad synlighet på sökmotorer innebär mer <br>
trafik som i sin tur innebär fler potentiella kunder. <br>
Defiso Media hjälper dig hitta rätt struktur.</p>
      <button class="medium radius">Berätta mer</button>
    </div>
  </div>
  <img src="/images/spaceman.svg" class="spaceman">
  <div class="arrow"><a href="#konvertera"><img src="/images/arrow.svg"></a></div>
</section>

<section class="textsection section landing">
  <div class="tableholder">
    <div class="tablecell">
      <h1>Konvertera</h1>
      <p>Ökad synlighet på sökmotorer innebär mer <br>
trafik som i sin tur innebär fler potentiella kunder. <br>
Defiso Media hjälper dig hitta rätt struktur.</p>
    <button class="medium radius">Berätta mer</button>
    </div>
  </div>
  <img src="/images/revolution.svg" class="revoulution">
<div class="arrow"><a href="#garantera"><img src="/images/arrow.svg"></a></div>
</section>

<section class="textsection section guaranteed">
  <div class="tableholder">
    <div class="tablecell">
      <h1>Garantera</h1>
      <p>Ökad synlighet på sökmotorer innebär mer <br>
trafik som i sin tur innebär fler potentiella kunder. <br>
Defiso Media hjälper dig hitta rätt struktur.</p>
    <button class="medium radius">Berätta mer</button>
    </div>
  </div>
  <img src="/images/guaranteed.svg" class="symbol">
  <div class="arrow"><a href="#referera"><img src="/images/arrow.svg"></a></div>
</section>

<section class="textsection section references">
  <div class="tableholder">
    <div class="tablecell">
      <h1>Referera</h1>
      <p>Ökad synlighet på sökmotorer innebär mer <br>
trafik som i sin tur innebär fler potentiella kunder. <br>
Defiso Media hjälper dig hitta rätt struktur.</p>
    <button class="medium radius">Fler citat</button>
    </div>
  </div>
  <img src="/images/reference.svg" class="symbol">
<div class="arrow"><a href="#kaffe-med-mera"><img src="/images/arrow.svg"></a></div>
</section>

<section class="textsection section askus">
  <div class="tableholder">
    <div class="tablecell">
      <h1>Kaffe med mera</h1>
      <p>Ring oss på 08-410 344 35<br>e-posta oss på info@defiso.se</p>
      <p>Bli uppringd</p>
      <form class="clearfix">
        <input type="text" placeholder="Telefonnummer">
        <input type="submit" value="Skicka" class="button postfix">
      </form>
    </div>
  </div>
  <img src="/images/cup.svg" class="cup">
</section>
<footer>
  <img src="/images/white-logo.svg">
</footer>